form {
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  background: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px #04ad589f;
  font-family: sans-serif;
}
label {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input:focus,
select:focus {
  outline: none;
  border-color: #04ad59;
}

button {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background: #04ad59;
  box-shadow: 0 0 10px #04ad59;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #015c2f;
  box-shadow: 0 0 10px #015c2f;
}
